# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv


/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp

*.metadata.v2
*.futdcache.v1
*.vsidx
*.projects.v2
*.lock
*.dtbcache.v2
*.config
/.futdcache.v2